/* CUSTOM Properties */

@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-width: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  ul,
  ol {
    list-style: none;
  }
}

@layer root {
  /* ------Primitives------ */
  :root {
    /* brown */
    --clr-brown-500: #423d3c;
    --clr-brown-600: #383231;
    --clr-brown-700: #2d2726;
    --clr-brown-800: #292424;
    --clr-brown-900: #221e1e;
    /* orange */
    --clr-brand-400: hsl(25, 88%, 75%);
    --clr-brand-500: hsl(25, 88%, 66%);
    /* green */
    --clr-green-400: #659477;
    --clr-green-500: #3b8256;
    --clr-green-600: #23412f;
    /* others */
    --clr-orange-500: hsl(28, 43%, 37%);
    --clr-teal-500: #377e86;
    --clr-red-500: #7e3e3f;
    --clr-gray-100: #cbc9c9;
    --clr-white: #ffffff;

    /* Font Family */
    --ff-body: "Fira Sans", Sans-serif;
    /* OR (ff-base | ff-accent)[naming convention] */
    --ff-heading: "Outfit", sans-serif;
    /* Font Size */
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    /* Media Query > 760 */
    @media (width > 760px) {
      --fs-300: 0.875rem;
      --fs-400: 1rem;
      --fs-500: 1.25rem;
      --fs-600: 1.5rem;
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }
  }

  /* structured custom properties */
  :root {
    /* -----Semantics----- */
    /* colors */
    --text-main: var(--clr-gray-100);
    --text-high-contrast: var(--clr-white);
    --text-brand: var(--clr-brand-500);
    --text-brand-light: var(--clr-brand-400);

    --background-accent-light: var(--clr-green-400);
    --background-accent-main: var(--clr-green-500);
    --background-accent-dark: var(--clr-green-600);

    --background-extra-light: var(--clr-brown-500);
    --background-light: var(--clr-brown-600);
    --background-main: var(--clr-brown-700);
    --background-dark: var(--clr-brown-800);
    --background-extra-dark: var(--clr-brown-900);

    /* fonts */
    --font-size-heading-sm: var(--fs-700);
    --font-size-heading-regular: var(--fs-800);
    --font-size-heading-lg: var(--fs-900);
    --font-size-heading-xl: var(--fs-1000);

    --font-size-sm: var(--fs-300);
    --font-size-regular: var(--fs-400);
    --font-size-md: var(--fs-500);
    --font-size-lg: var(--fs-600);

    /* border-radius */
    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 0.75rem;
  }
}

@layer base {
  body {
    min-height: 100vh;
    line-height: 1.6;

    background-color: var(--background-main);
    font-family: var(--ff-body);
    font-size: var(--font-size-regular);
    color: var(--text-main);

    /* smooth scrolling */
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-heading);
    color: var(--text-high-contrast);
  }

  h1 {
    font-size: var(--font-size-heading-lg);
  }

  a {
    color: var(--text-high-contrast);
  }

  a:hover,
  a:focus-visible {
    color: var(--text-brand-light);
  }

  img {
    border-radius: var(--border-radius-3);
  }
}

@layer layout {
  .section {
    /* section padding custom property */
    --padding: 3.75rem;
    padding-block: var(--padding);

    /* ^^^^^Media Query^^^^^ */
    @media (width > 760px) {
      --padding: 8rem;

      /* compact padding */
      &[data-padding="compact"] {
        --padding: 4.5rem;
      }
    }
  }

  .wrapper {
    /* wrapper width Custom Property */
    --wrapper-max-width: 1130px;

    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: 1rem;

    /* Reset to manage padding into the width of Figma */
    /* OR... (instead using calc) --> calc(1130px + 2rem) */
    box-sizing: content-box;

    /* ---wide width--- */
    &[data-width="wide"] {
      --wrapper-max-width: 1330px;
    }

    /* ---narrow width--- */
    &[data-width="narrow"] {
      --wrapper-max-width: 720px;
    }
  }

  .equal-columns {
    display: grid;
    /* grid gap custom property */
    gap: var(--equal-columns-gap, 1rem);
    /* grid align items property */
    align-items: var(--equal-columns-vertical-alignment, stretch);

    /* ^^^^^Media Query^^^^^ */
    @media (width > 760px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }

    /* ---large gap--- */
    &[data-gap="large"] {
      --equal-columns-gap: 2rem;
    }

    &[data-alignment="centered"] {
      --equal-columns-vertical-alignment: center;
    }
  }

  /* Adding margin to children (NOT first child) */
  /* Alternative: .flow :not(first-child) */
  .flow > * + * {
    margin-top: var(--flow-spacer, 1em);
  }

  .grid-flow {
    display: grid;
    gap: var(--grid-flow-gap, 1rem);
  }

  /* ------------------------------------------------ */
  /* ----******----Mushroom Guide Page----*****----- */
  /* ------------------------------------------------ */

  .grid-auto-fit {
    /* grid auto fit min column size */
    --auto-fit-min-col-size: 250px;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--auto-fit-min-col-size), 100%), 1fr)
    );
  }

  .flex-group {
    display: flex;
    gap: 1rem;
  }
}

@layer components {
  /* Skip To Main Content (for keyboard) */
  .skip-to-main:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    transform: translateY(-100%);
  }

  .skip-to-main {
    position: absolute;
    top: 5px;
    left: 300px;

    padding: 1rem 2rem;
    background: #406459;
    border-radius: var(--border-radius-2);
    text-decoration: none;
    transition: transform 0.3s ease;
    transform: translateY(0);
  }

  /* -----Header----- */
  .site-header--layout {
    display: flex;
    gap: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
  }

  .primary-nav {
    a {
      text-decoration: none;
    }

    /* -----Lists----- */
    .nav-list {
      display: flex;
      gap: 0.5rem 1rem;
      flex-wrap: wrap;
    }

    /* ^^^^^Media Query^^^^^ */
    @media (width < 760px) {
      transform: translateX(100%);
      transition: transform 0.5s ease;

      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;

      background: #406459;
      padding: 2rem;
      font-weight: 700;
      font-family: var(--ff-heading);
      border-radius: 0 0 0 var(--border-radius-3);

      .nav-list {
        gap: 0;
        flex-direction: column;

        li + li {
          border-top: 2px solid var(--background-accent-light);
          padding-block-start: 1.5rem;
          margin-block-start: 1.5rem;
        }
      }
    }
  }

  /* Hamburger Menu */
  .menu-btn {
    background: transparent;
    border: none;
    cursor: pointer;

    z-index: 20;

    img {
      border-radius: 0;
    }

    /* ^^^^^Media Query^^^^^ */
    @media (width > 760px) {
      display: none;
    }
  }

  /* hamburger Menu active JS */
  .active {
    transform: translateX(0);
  }

  /* ------Hero----- */
  .hero {
    text-align: center;
    font-size: var(--font-size-md);
    color: var(--text-high-contrast);
    background: #000 url(./assets/hero.webp) center/cover no-repeat;
  }

  .hero--title {
    font-size: var(--font-size-heading-lg);

    /* span inside hero--title */
    span {
      display: block;
      font-size: var(--font-size-heading-xl);
      color: var(--text-brand);
    }
  }

  /* ------Footer----- */
  .site-footer {
    display: grid;
    gap: 2rem;

    background: var(--background-dark);
    text-align: center;
    padding-block: 2rem;

    a {
      color: var(--text-main);
    }

    a:hover,
    a:focus-visible {
      color: var(--text-brand-light);
    }
  }

  .site-footer--title {
    font-size: var(--font-size-lg);
    font-family: var(--ff-heading);
    font-weight: 700;
  }

  /* ------General----- */

  .card {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap, 1rem);
    padding: 1rem;
    background: var(--background-light);
    border-radius: var(--border-radius-3);

    img {
      border-radius: var(--border-radius-2);
    }
  }

  .card--title {
    font-size: var(--card-title-font-size, var(--font-size-heading-sm));
    color: var(--card-title-color, var(--text-brand));
  }

  .btn {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background: var(--background-accent-main);
    font-family: var(--ff-heading);
    font-size: var(--font-size-md);
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    border-radius: var(--border-radius-2);
  }

  .btn:hover,
  .btn:focus-visible {
    color: var(--text-high-contrast);
    background: var(--background-accent-light);
  }

  /* ------------------------------------------------ */
  /* ----******----Mushroom Guide Page----*****----- */
  /* ------------------------------------------------ */

  /* -----12 cards section (3) --> mushroom guide----- */
  .mushroom-guide {
    --card-title-font-size: var(--font-size-lg);
    --card-title-color: var(--text-high-contrast);
    --card-gap: 0.75rem;
  }

  /* 12 cards */
  .tag-list {
    display: flex;
    gap: 0.5rem;

    li {
      font-family: var(--ff-heading);
      font-size: var(--font-size-sm);
      color: var(--text-high-contrast);
      padding: 0.125rem 0.25rem;
      background: var(--tag-bg, red);
      border-radius: var(--border-radius-1);
    }

    [data-edible="edible"] {
      --tag-bg: var(--background-accent-main);
    }

    [data-edible="toxic"] {
      --tag-bg: var(--clr-red-500);
    }

    [data-season="summer"] {
      --tag-bg: var(--background-accent-main);
    }

    [data-season="spring"] {
      --tag-bg: var(--clr-teal-500);
    }

    [data-season="fall"] {
      --tag-bg: var(--clr-orange-500);
    }
  }

  .card--note {
    margin-block-start: auto;
    background: var(--background-extra-light);
    padding: 0.75rem;
    border-radius: var(--border-radius-2);
  }

  /* -----4 cards section (4)----- */
  .faq-bento {
    --card-title-color: var(--text-high-contrast);

    display: grid;
    gap: 1rem;
    grid-template-areas:
      "card-one"
      "card-two"
      "card-three"
      "card-four";

    /* ^^^^^Media Query^^^^^ */
    @media (width > 640px) {
      grid-template-areas:
        "card-one card-two"
        "card-three card-four";

      .card:nth-child(even) > img {
        order: 3;
      }
    }

    /* ^^^^^Media Query^^^^^ */
    @media (width > 900px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "card-one     card-two     card-four"
        "card-three   card-three   card-four";
    }

    .card > img {
      height: 100%;
      object-fit: cover;
    }

    .card:nth-child(1) {
      grid-area: card-one;
    }
    .card:nth-child(2) {
      grid-area: card-two;
    }
    .card:nth-child(3) {
      grid-area: card-three;

      /* ^^^^^Media Query^^^^^ */
      @media (width > 900px) {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;

        img {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
        }
      }
    }
    .card:nth-child(4) {
      grid-area: card-four;
    }
  }
}

@layer utilities {
  .text-center {
    text-align: center;
  }

  .text-brand {
    color: var(--text-brand);
  }

  .text-high-contrast {
    color: var(--text-high-contrast);
  }

  .section-title {
    font-size: var(--font-size-heading-regular);
  }

  .background-base {
    background-color: var(--background-base);
  }

  .background-light {
    background-color: var(--background-light);
  }

  .background-extra-light {
    background-color: var(--background-extra-light);
  }

  .background-dark {
    background-color: var(--background-dark);
  }

  .background-extra-dark {
    background-color: var(--background-extra-dark);
  }

  .background-accent {
    background-color: var(--background-accent-dark);
  }

  .font-size-sm {
    font-size: var(--font-size-sm);
  }

  .font-size-regular {
    font-size: var(--font-size-regular);
  }

  .font-size-md {
    font-size: var(--font-size-md);
  }

  .font-size-lg {
    font-size: var(--font-size-lg);
  }
}
